# App
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DEFAULT_LOCALE=tr
NEXT_PUBLIC_SUPPORTED_LOCALES=tr,en

# API
INTERNAL_API_URL=http://localhost:8080

# NextAuth / Keycloak
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace-with-a-long-random-secret
KEYCLOAK_ISSUER=http://localhost:8085/realms/zerp
KEYCLOAK_CLIENT_ID=zerp-web
KEYCLOAK_CLIENT_SECRET=leave-empty # burayi bos birakabilirsiniz
JWE_SECRET=replace-with-at-least-32-char-secret
SESSION_COOKIE_DOMAIN=

# Optional
NEXT_PUBLIC_SESSION_POOLING_INTERVAL=120
