server.port=8083

# Postgres config
spring.datasource.url=jdbc:postgresql://localhost:5432/zerp
spring.datasource.username=
spring.datasource.password=

# Mail config
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
