server.port=8083

# Postgres config
spring.datasource.url=jdbc:postgresql://localhost:5432/zerp
spring.datasource.username=
spring.datasource.password=

# Mail config
spring.mail.host=
spring.mail.port=
spring.mail.username=
spring.mail.password=

# Kafka config
kafka.url=${KAFKA_BOOTSTRAP:localhost:29092}
kafka.topic.email=${KAFKA_TOPIC_EMAIL:email-notifications}

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
