server.port=8087

# Postgres config
spring.datasource.url=jdbc:postgresql://localhost:5432/zerp
spring.datasource.username=
spring.datasource.password=

eureka.client.service-url.defaultZone=http://localhost:8761/eureka/

keycloak.admin.server-url=https://auth.femrek.dev
keycloak.admin.realm=zerp
keycloak.admin.client-id=zerp-admin-cli
keycloak.admin.client-secret=

s3.repository.endpoint=
s3.repository.bucket-name=
s3.repository.username=
s3.repository.password=

user.thumbor.host=
