COMPOSE_FILE='compose-postgres.yaml,compose-redis.yaml,compose-kafka.yaml,compose-app-aggregated.yaml'
COMPOSE_PATH_SEPARATOR=','
COMPOSE_PROJECT_NAME=zerp

# Backend Application Ports
EUREKA_PORT=8761
GATEWAY_PORT=8080

# Backend Java Service Environment
EUREKA_SPRING_PROFILES_ACTIVE=
EUREKA_LOG4J2_CONFIG_PATH=
EUREKA_JAVA_OPTS=

AGGREGATED_SPRING_PROFILES_ACTIVE=
AGGREGATED_LOG4J2_CONFIG_PATH=
AGGREGATED_JAVA_OPTS=
AGGREGATED_CONFIG_ROOT=
CRM_CONFIG_PATH=
EMPLOYEE_CONFIG_PATH=
NOTIFICATION_CONFIG_PATH=
RESOURCE_CONFIG_PATH=
SALE_CONFIG_PATH=
SUGGESTION_CONFIG_PATH=
USER_CONFIG_PATH=

GATEWAY_SPRING_PROFILES_ACTIVE=
GATEWAY_LOG4J2_CONFIG_PATH=
GATEWAY_JAVA_OPTS=

# Postgres
POSTGRES_USER=zerp
POSTGRES_PASSWORD=1234
POSTGRES_DB=zerp
