{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://zerpapi.femrek.dev/"},{"url":"http://localhost:8080/"}],"tags":[{"name":"Tenant Tickets","description":"APIs for tenant-facing ticket operations"},{"name":"Team Tickets","description":"APIs for team members to operate on tickets"},{"name":"Teams","description":"Admin APIs for managing teams and team members"}],"paths":{"/crm/tickets/{id}":{"get":{"tags":["Tenant Tickets"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneTenant Ticket","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}},"put":{"tags":["Tenant Tickets"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateTenant Ticket","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTicketRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}},"delete":{"tags":["Tenant Tickets"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteTenant Ticket","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Tenant Tickets"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchTenant Ticket","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}}},"/crm/teams/{id}":{"get":{"tags":["Teams"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneTeam","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTeamResponse"}}}}}},"put":{"tags":["Teams"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateTeam","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTeamRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTeamResponse"}}}}}},"delete":{"tags":["Teams"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteTeam","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Teams"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchTeam","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTeamResponse"}}}}}}},"/crm/tickets":{"get":{"tags":["Tenant Tickets"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListTenant Tickets","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTicketResponse"}}}}}},"post":{"tags":["Tenant Tickets"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createTenant Ticket","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTicketRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTicketResponse"}}}}}},"delete":{"tags":["Tenant Tickets"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyTenant Tickets","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Tenant Tickets"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyTenant Tickets","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/crm/tickets/{id}/comments":{"post":{"tags":["Team Tickets"],"operationId":"addTicketComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}}},"/crm/tickets/{id}/close":{"post":{"tags":["Team Tickets"],"operationId":"closeTicket","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}}},"/crm/tickets/{id}/assign":{"post":{"tags":["Team Tickets"],"operationId":"assignTicket","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AssignTicketRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}},"delete":{"tags":["Team Tickets"],"operationId":"unassignTicket","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}}},"/crm/teams":{"get":{"tags":["Teams"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListTeams","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTeamResponse"}}}}}},"post":{"tags":["Teams"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTeamRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTeamResponse"}}}}}},"delete":{"tags":["Teams"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyTeams","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Teams"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyTeams","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/crm/teams/{id}/members":{"post":{"tags":["Teams"],"operationId":"addTeamMember","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMemberRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}}}},"/crm/teams/{id}/deactivate":{"post":{"tags":["Teams"],"operationId":"deactivateTeam","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}}}},"/crm/teams/{id}/activate":{"post":{"tags":["Teams"],"operationId":"activateTeam","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}}}},"/crm/tickets/{id}/status":{"patch":{"tags":["Team Tickets"],"operationId":"changeTicketStatus","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeStatusRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}}},"/crm/tickets/{id}/priority":{"patch":{"tags":["Team Tickets"],"operationId":"changeTicketPriority","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangePriorityRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TicketResponse"}}}}}}},"/crm/teams/{id}/members/{userId}/role":{"patch":{"tags":["Teams"],"operationId":"changeTeamMemberRole","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChangeMemberRoleRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}}}},"/crm/tickets/many":{"get":{"tags":["Tenant Tickets"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyTenant Tickets","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTicketResponse"}}}}}}},"/crm/teams/{id}/member-candidates":{"get":{"tags":["Teams"],"operationId":"listTeamMemberCandidates","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"_start","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"_end","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"_sort","in":"query","required":false,"schema":{"type":"string","default":"username"}},{"name":"_order","in":"query","required":false,"schema":{"type":"string","default":"ASC"}},{"name":"username","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTeamMemberCandidateResponse"}}}}}}},"/crm/teams/many":{"get":{"tags":["Teams"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyTeams","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTeamResponse"}}}}}}},"/crm/teams/{id}/members/{userId}":{"delete":{"tags":["Teams"],"operationId":"removeTeamMember","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TeamResponse"}}}}}}}},"components":{"schemas":{"UpdateTicketRequest":{"type":"object","description":"Map of field names to new values for update","properties":{"title":{"type":"string"},"description":{"type":"string"}}},"ApiResponseTicketResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TicketResponse"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"AttachmentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fileName":{"type":"string"},"fileSize":{"type":"integer","format":"int64"},"contentType":{"type":"string"},"storageKey":{"type":"string"},"uploadedBy":{"type":"integer","format":"int32"},"uploadedAt":{"type":"string","format":"date-time"}}},"CommentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"authorId":{"type":"string","format":"uuid"},"authorName":{"type":"string"},"authorType":{"type":"string"},"content":{"type":"string"},"isInternal":{"type":"boolean"},"createdAt":{"type":"string","format":"date-time"},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentResponse"}}}},"Meta":{"type":"object","properties":{"traceId":{"type":"string"},"path":{"type":"string"},"durationMs":{"type":"integer","format":"int64"},"version":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"Parameter":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"SlaTrackingResponse":{"type":"object","properties":{"firstResponseDueAt":{"type":"string","format":"date-time"},"firstResponseAt":{"type":"string","format":"date-time"},"isFirstResponseBreached":{"type":"boolean"},"resolutionDueAt":{"type":"string","format":"date-time"},"resolutionAt":{"type":"string","format":"date-time"},"isResolutionBreached":{"type":"boolean"},"totalPausedTimeMinutes":{"type":"integer","format":"int32"}}},"TicketAssignmentResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"teamId":{"type":"string","format":"uuid"},"agentPartyId":{"type":"string","format":"uuid"},"active":{"type":"boolean"},"assignedAt":{"type":"string","format":"date-time"}}},"TicketResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"description":{"type":"string"},"status":{"type":"string"},"priority":{"type":"string"},"type":{"type":"string"},"tenantId":{"type":"string","format":"uuid"},"reporterId":{"type":"string","format":"uuid"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"resolvedAt":{"type":"string","format":"date-time"},"closedAt":{"type":"string","format":"date-time"},"tags":{"type":"array","items":{"type":"string"},"uniqueItems":true},"customAttributes":{"type":"object","additionalProperties":{}},"watchers":{"type":"array","items":{"$ref":"#/components/schemas/WatcherResponse"},"uniqueItems":true},"attachments":{"type":"array","items":{"$ref":"#/components/schemas/AttachmentResponse"}},"currentAssignment":{"$ref":"#/components/schemas/TicketAssignmentResponse"},"comments":{"type":"array","items":{"$ref":"#/components/schemas/CommentResponse"}},"slaTracking":{"$ref":"#/components/schemas/SlaTrackingResponse"}}},"WatcherResponse":{"type":"object","properties":{"watcherId":{"type":"string","format":"uuid"},"addedAt":{"type":"string","format":"date-time"}}},"UpdateTeamRequest":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["SERVICE_LEVEL","QUESTION"]}}},"ApiResponseTeamResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeamResponse"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"TeamMemberResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"role":{"type":"string"},"joinedAt":{"type":"string","format":"date-time"}}},"TeamResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"isActive":{"type":"boolean"},"members":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberResponse"}}}},"CreateTicketRequest":{"type":"object","description":"Entity data to create","properties":{"title":{"type":"string"},"description":{"type":"string"},"priority":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]},"type":{"type":"string","enum":["SERVICE_LEVEL","QUESTION"]},"tenantId":{"type":"string","format":"uuid"}}},"AddCommentRequest":{"type":"object","properties":{"content":{"type":"string"},"isInternal":{"type":"boolean"}}},"AssignTicketRequest":{"type":"object","properties":{"teamId":{"type":"string","format":"uuid"},"agentPartyId":{"type":"string","format":"uuid"}}},"CreateTeamRequest":{"type":"object","description":"Entity data to create","properties":{"name":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["SERVICE_LEVEL","QUESTION"]}}},"AddMemberRequest":{"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["LEADER","MEMBER"]}}},"ApiResponseListUUID":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","format":"uuid"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ChangeStatusRequest":{"type":"object","properties":{"status":{"type":"string","enum":["OPEN","IN_PROGRESS","WAITING_CUSTOMER","RESOLVED","CLOSED","CANCELLED"]}}},"ChangePriorityRequest":{"type":"object","properties":{"priority":{"type":"string","enum":["LOW","MEDIUM","HIGH","CRITICAL"]}}},"ChangeMemberRoleRequest":{"type":"object","properties":{"role":{"type":"string","enum":["LEADER","MEMBER"]}}},"ApiResponseListTicketResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TicketResponse"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListTeamResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamResponse"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListTeamMemberCandidateResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberCandidateResponse"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"TeamMemberCandidateResponse":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string"},"email":{"type":"string"}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}}}}}