{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://zerpapi.femrek.dev/"},{"url":"http://localhost:8080/"}],"tags":[{"name":"Employees","description":"API for managing employees. Supports CRUD operations, searching, and retrieval of deleted employees."}],"paths":{"/employee/{id}":{"get":{"tags":["Employees"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneEmployee","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponseDto"}}}}}},"put":{"tags":["Employees"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateEmployee","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEmployeeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponseDto"}}}}}},"delete":{"tags":["Employees"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteEmployee","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Employees"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchEmployee","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponseDto"}}}}}}},"/employee":{"get":{"tags":["Employees"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListEmployees","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListEmployeeListResponseDto"}}}}}},"post":{"tags":["Employees"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createEmployee","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEmployeeRequestDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseEmployeeResponseDto"}}}}}},"delete":{"tags":["Employees"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyEmployees","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Employees"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyEmployees","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/employee/search":{"get":{"tags":["Employees"],"operationId":"searchEmployees","parameters":[{"name":"keyword","in":"query","required":true,"schema":{"type":"string"}},{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageEmployeeListResponseDto"}}}}}}},"/employee/many":{"get":{"tags":["Employees"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyEmployees","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListEmployeeResponseDto"}}}}}}},"/employee/deleted":{"get":{"tags":["Employees"],"operationId":"getDeletedEmployees","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListEmployeeListResponseDto"}}}}}}},"/employee/deleted/paginated":{"get":{"tags":["Employees"],"operationId":"getDeletedEmployeesPaginated","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePageEmployeeListResponseDto"}}}}}}}},"components":{"schemas":{"EmployeeContactDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["WORK_PHONE","PERSONAL_PHONE","WORK_EMAIL","PERSONAL_EMAIL","EMERGENCY_CONTACT"]},"value":{"type":"string","minLength":1},"contactPersonName":{"type":"string"},"relationship":{"type":"string"}},"required":["type","value"]},"UpdateEmployeeRequestDto":{"type":"object","description":"Map of field names to new values for update","properties":{"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string"},"nationalId":{"type":"string"},"dateOfBirth":{"type":"string","format":"date"},"hireDate":{"type":"string","format":"date"},"terminationDate":{"type":"string","format":"date"},"status":{"type":"string","enum":["ACTIVE","TERMINATED","SUSPENDED","ON_LEAVE","RETIRED","PROBATION","DELETED"]},"managerId":{"type":"string","format":"uuid"},"salary":{"type":"number"},"contacts":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeContactDto"}}}},"ApiResponseEmployeeResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/EmployeeResponseDto"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"EmployeeContactResponseDto":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["WORK_PHONE","PERSONAL_PHONE","WORK_EMAIL","PERSONAL_EMAIL","EMERGENCY_CONTACT"]},"value":{"type":"string"},"contactPersonName":{"type":"string"},"relationship":{"type":"string"}}},"EmployeeResponseDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"nationalId":{"type":"string"},"dateOfBirth":{"type":"string","format":"date"},"hireDate":{"type":"string","format":"date"},"terminationDate":{"type":"string","format":"date"},"status":{"type":"string","enum":["ACTIVE","TERMINATED","SUSPENDED","ON_LEAVE","RETIRED","PROBATION","DELETED"]},"manager":{"$ref":"#/components/schemas/ManagerDto"},"salary":{"type":"number"},"contacts":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeContactResponseDto"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"ManagerDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"}}},"Meta":{"type":"object","properties":{"traceId":{"type":"string"},"path":{"type":"string"},"durationMs":{"type":"integer","format":"int64"},"version":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"Parameter":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"CreateEmployeeRequestDto":{"type":"object","description":"Entity data to create","properties":{"username":{"type":"string","minLength":1,"pattern":"^[a-zA-Z0-9._-]{3,255}$"},"tempPassword":{"type":"string","maxLength":2147483647,"minLength":8},"firstName":{"type":"string","minLength":1},"lastName":{"type":"string","minLength":1},"email":{"type":"string","format":"email","minLength":1},"phoneNumber":{"type":"string"},"nationalId":{"type":"string"},"dateOfBirth":{"type":"string","format":"date"},"hireDate":{"type":"string","format":"date"},"status":{"type":"string","enum":["ACTIVE","TERMINATED","SUSPENDED","ON_LEAVE","RETIRED","PROBATION","DELETED"]},"managerId":{"type":"string","format":"uuid"},"salary":{"type":"number"},"isActive":{"type":"boolean"},"contacts":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeContactDto"}}},"required":["email","firstName","hireDate","lastName","tempPassword","username"]},"ApiResponseListUUID":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","format":"uuid"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListEmployeeListResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeListResponseDto"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"EmployeeListResponseDto":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"firstName":{"type":"string"},"lastName":{"type":"string"},"email":{"type":"string"},"phoneNumber":{"type":"string"},"status":{"type":"string","enum":["ACTIVE","TERMINATED","SUSPENDED","ON_LEAVE","RETIRED","PROBATION","DELETED"]}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"ApiResponsePageEmployeeListResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PageEmployeeListResponseDto"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PageEmployeeListResponseDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeListResponseDto"}},"number":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"ApiResponseListEmployeeResponseDto":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/EmployeeResponseDto"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}}}}}