{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.zeerp.tech/"},{"url":"http://localhost:8080/"}],"tags":[{"name":"Menu","description":"API for managing menus that group categories and items for a shop"},{"name":"MenuItem","description":"API for managing menu items (single product or combo) within a category"},{"name":"Shop","description":"API for listing tenant shops and updating shop sale settings"},{"name":"ProductRecipe","description":"API for managing product recipes that define ingredient consumption for theoretical stock deduction"},{"name":"ShopTable","description":"API for managing tables in a shop (cafe/restaurant)"},{"name":"Admin Shops","description":"API for managing shop resources in admin panel"},{"name":"PublicSale","description":"Public API for zerp-client shop and menu views"},{"name":"ProductExtraOption","description":"API for managing product extra options (e.g. extra 100g meat) which auto-deduct from theoretical stock"},{"name":"TableOrder","description":"API for managing orders on shop tables"},{"name":"MenuCategory","description":"API for managing menu categories that group menu items"},{"name":"Product","description":"API for managing cafe/restaurant products and recipes"}],"paths":{"/sale/tables/{id}":{"get":{"tags":["ShopTable"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneShopTable","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopTableDTO"}}}}}},"put":{"tags":["ShopTable"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateShopTable","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopTableUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopTableDTO"}}}}}},"delete":{"tags":["ShopTable"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteShopTable","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["ShopTable"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchShopTable","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopTableDTO"}}}}}}},"/sale/table-orders/{id}":{"get":{"tags":["TableOrder"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneTableOrder","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTableOrderDTO"}}}}}},"put":{"tags":["TableOrder"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateTableOrder","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableOrderUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTableOrderDTO"}}}}}},"delete":{"tags":["TableOrder"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteTableOrder","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["TableOrder"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchTableOrder","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTableOrderDTO"}}}}}}},"/sale/shops/{id}":{"get":{"tags":["Shop"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneShop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopDTO"}}}}}},"put":{"tags":["Shop"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateShop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"Map of field names to new values for update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopDTO"}}}}}},"delete":{"tags":["Shop"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteShop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Shop"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchShop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopDTO"}}}}}}},"/sale/products/{id}":{"get":{"tags":["Product"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneProduct","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductDTO"}}}}}},"put":{"tags":["Product"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateProduct","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductDTO"}}}}}},"delete":{"tags":["Product"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteProduct","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Product"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchProduct","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductDTO"}}}}}}},"/sale/product-recipes/{id}":{"get":{"tags":["ProductRecipe"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneProductRecipe","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductRecipeDTO"}}}}}},"put":{"tags":["ProductRecipe"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateProductRecipe","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRecipeUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductRecipeDTO"}}}}}},"delete":{"tags":["ProductRecipe"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteProductRecipe","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["ProductRecipe"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchProductRecipe","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductRecipeDTO"}}}}}}},"/sale/product-extra-options/{id}":{"get":{"tags":["ProductExtraOption"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneProductExtraOption","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductExtraOptionDTO"}}}}}},"put":{"tags":["ProductExtraOption"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateProductExtraOption","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductExtraOptionUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductExtraOptionDTO"}}}}}},"delete":{"tags":["ProductExtraOption"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteProductExtraOption","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["ProductExtraOption"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchProductExtraOption","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductExtraOptionDTO"}}}}}}},"/sale/menus/{id}":{"get":{"tags":["Menu"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneMenu","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuDTO"}}}}}},"put":{"tags":["Menu"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateMenu","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuDTO"}}}}}},"delete":{"tags":["Menu"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteMenu","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Menu"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchMenu","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuDTO"}}}}}}},"/sale/menu-items/{id}":{"get":{"tags":["MenuItem"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneMenuItem","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuItemDTO"}}}}}},"put":{"tags":["MenuItem"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateMenuItem","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuItemUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuItemDTO"}}}}}},"delete":{"tags":["MenuItem"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteMenuItem","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["MenuItem"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchMenuItem","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuItemDTO"}}}}}}},"/sale/menu-categories/{id}":{"get":{"tags":["MenuCategory"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneMenuCategory","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuCategoryDTO"}}}}}},"put":{"tags":["MenuCategory"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateMenuCategory","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuCategoryDTO"}}}}}},"delete":{"tags":["MenuCategory"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteMenuCategory","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["MenuCategory"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchMenuCategory","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuCategoryDTO"}}}}}}},"/sale/admin/shops/{id}":{"get":{"tags":["Admin Shops"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneAdmin Shop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminShopResponseDTO"}}}}}},"put":{"tags":["Admin Shops"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateAdmin Shop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminShopUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminShopResponseDTO"}}}}}},"delete":{"tags":["Admin Shops"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteAdmin Shop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Admin Shops"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchAdmin Shop","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminShopResponseDTO"}}}}}}},"/sale/tables":{"get":{"tags":["ShopTable"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListShopTable","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListShopTableDTO"}}}}}},"post":{"tags":["ShopTable"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createShopTable","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ShopTableCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopTableDTO"}}}}}},"delete":{"tags":["ShopTable"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyShopTable","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["ShopTable"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyShopTable","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/table-orders":{"get":{"tags":["TableOrder"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListTableOrder","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTableOrderDTO"}}}}}},"post":{"tags":["TableOrder"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createTableOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TableOrderCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTableOrderDTO"}}}}}},"delete":{"tags":["TableOrder"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyTableOrder","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["TableOrder"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyTableOrder","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/shops":{"get":{"tags":["Shop"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListShop","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListShopDTO"}}}}}},"post":{"tags":["Shop"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createShop","requestBody":{"content":{"application/json":{"schema":{"type":"object","description":"Entity data to create"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseShopDTO"}}}}}},"delete":{"tags":["Shop"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyShop","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Shop"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyShop","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/shops/{shopId}/image":{"get":{"tags":["Shop"],"operationId":"getShopImage","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"size","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}},"post":{"tags":["Shop"],"operationId":"uploadShopImage","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ShopImageUploadResponseDTO"}}}}}}},"/sale/public/shops/{shopId}/cart-orders":{"post":{"tags":["PublicSale"],"operationId":"createCartOrder","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicCartOrderCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePublicCartOrderCreateResponse"}}}}}}},"/sale/products":{"get":{"tags":["Product"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListProduct","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductDTO"}}}}}},"post":{"tags":["Product"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductDTO"}}}}}},"delete":{"tags":["Product"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyProduct","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Product"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyProduct","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/product-recipes":{"get":{"tags":["ProductRecipe"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListProductRecipe","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductRecipeDTO"}}}}}},"post":{"tags":["ProductRecipe"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createProductRecipe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductRecipeCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductRecipeDTO"}}}}}},"delete":{"tags":["ProductRecipe"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyProductRecipe","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["ProductRecipe"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyProductRecipe","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/product-extra-options":{"get":{"tags":["ProductExtraOption"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListProductExtraOption","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductExtraOptionDTO"}}}}}},"post":{"tags":["ProductExtraOption"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createProductExtraOption","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProductExtraOptionCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseProductExtraOptionDTO"}}}}}},"delete":{"tags":["ProductExtraOption"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyProductExtraOption","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["ProductExtraOption"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyProductExtraOption","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/menus":{"get":{"tags":["Menu"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListMenu","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuDTO"}}}}}},"post":{"tags":["Menu"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createMenu","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuDTO"}}}}}},"delete":{"tags":["Menu"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyMenu","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Menu"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyMenu","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/menu-items":{"get":{"tags":["MenuItem"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListMenuItem","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuItemDTO"}}}}}},"post":{"tags":["MenuItem"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createMenuItem","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuItemCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuItemDTO"}}}}}},"delete":{"tags":["MenuItem"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyMenuItem","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["MenuItem"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyMenuItem","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/menu-items/images":{"post":{"tags":["MenuItem"],"operationId":"uploadMenuItemImage","parameters":[{"name":"categoryId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MenuItemImageUploadResponseDTO"}}}}}}},"/sale/menu-categories":{"get":{"tags":["MenuCategory"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListMenuCategory","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuCategoryDTO"}}}}}},"post":{"tags":["MenuCategory"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createMenuCategory","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MenuCategoryCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseMenuCategoryDTO"}}}}}},"delete":{"tags":["MenuCategory"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyMenuCategory","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["MenuCategory"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyMenuCategory","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/admin/shops":{"get":{"tags":["Admin Shops"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListAdmin Shops","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListAdminShopResponseDTO"}}}}}},"post":{"tags":["Admin Shops"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createAdmin Shop","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AdminShopCreateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminShopResponseDTO"}}}}}},"delete":{"tags":["Admin Shops"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyAdmin Shops","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Admin Shops"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyAdmin Shops","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/sale/tables/many":{"get":{"tags":["ShopTable"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyShopTable","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListShopTableDTO"}}}}}}},"/sale/table-orders/public-cart-orders/preview":{"get":{"tags":["TableOrder"],"operationId":"previewPublicCartOrder","parameters":[{"name":"code","in":"query","required":true,"schema":{"type":"string"}},{"name":"tableId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PublicCartOrderPreviewDTO"}}}}}}},"/sale/table-orders/many":{"get":{"tags":["TableOrder"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyTableOrder","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTableOrderDTO"}}}}}}},"/sale/shops/{shopId}/dashboard-overview":{"get":{"tags":["Shop"],"operationId":"getDashboardOverview","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ShopDashboardOverviewDTO"}}}}}}},"/sale/shops/many":{"get":{"tags":["Shop"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyShop","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListShopDTO"}}}}}}},"/sale/shops/dashboard-overview":{"get":{"tags":["Shop"],"operationId":"getTenantDashboardOverview","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantDashboardOverviewDTO"}}}}}}},"/sale/public/shops":{"get":{"tags":["PublicSale"],"operationId":"getShops","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPublicShopDTO"}}}}}}},"/sale/public/shops/{shopId}/menu":{"get":{"tags":["PublicSale"],"operationId":"getActiveMenu","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"language","in":"query","required":false,"schema":{"type":"string","enum":["TR","EN"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePublicShopMenuResponseDTO"}}}}}}},"/sale/public/shops/{shopId}/image":{"get":{"tags":["PublicSale"],"operationId":"getShopImage_1","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"size","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/sale/public/shops/{shopId}/categories/{categoryId}/menu-items":{"get":{"tags":["PublicSale"],"operationId":"getCategoryMenuItems","parameters":[{"name":"shopId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"categoryId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"language","in":"query","required":false,"schema":{"type":"string","enum":["TR","EN"]}},{"name":"_start","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"_end","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}},{"name":"_sort","in":"query","required":false,"schema":{"type":"string","default":"name"}},{"name":"_order","in":"query","required":false,"schema":{"type":"string","default":"ASC"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPublicMenuItemDTO"}}}}}}},"/sale/public/shops/nearby":{"get":{"tags":["PublicSale"],"operationId":"getNearbyShops","parameters":[{"name":"lat","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"lng","in":"query","required":true,"schema":{"type":"number","format":"double"}},{"name":"_start","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"_end","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPublicShopDTO"}}}}}}},"/sale/public/shops/feed":{"get":{"tags":["PublicSale"],"operationId":"getShopsFeed","parameters":[{"name":"mode","in":"query","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","NEARBY"]}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":1}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":12}},{"name":"q","in":"query","required":false,"schema":{"type":"string"}},{"name":"city","in":"query","required":false,"schema":{"type":"string"}},{"name":"state","in":"query","required":false,"schema":{"type":"string"}},{"name":"cuisineCategory","in":"query","required":false,"schema":{"type":"string"}},{"name":"cuisineCategories","in":"query","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","enum":["NAME","DISTANCE"]}},{"name":"order","in":"query","required":false,"schema":{"type":"string","enum":["ASC","DESC"]}},{"name":"lat","in":"query","required":false,"schema":{"type":"number","format":"double"}},{"name":"lng","in":"query","required":false,"schema":{"type":"number","format":"double"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePublicShopFeedResponseDTO"}}}}}}},"/sale/public/images/{imageId}":{"get":{"tags":["PublicSale"],"operationId":"getMenuItemImage","parameters":[{"name":"imageId","in":"path","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}}},"/sale/products/many":{"get":{"tags":["Product"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyProduct","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductDTO"}}}}}}},"/sale/product-recipes/many":{"get":{"tags":["ProductRecipe"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyProductRecipe","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductRecipeDTO"}}}}}}},"/sale/product-extra-options/many":{"get":{"tags":["ProductExtraOption"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyProductExtraOption","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListProductExtraOptionDTO"}}}}}}},"/sale/menus/many":{"get":{"tags":["Menu"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyMenu","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuDTO"}}}}}}},"/sale/menu-items/many":{"get":{"tags":["MenuItem"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyMenuItem","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuItemDTO"}}}}}}},"/sale/menu-categories/many":{"get":{"tags":["MenuCategory"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyMenuCategory","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListMenuCategoryDTO"}}}}}}},"/sale/admin/shops/many":{"get":{"tags":["Admin Shops"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyAdmin Shops","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListAdminShopResponseDTO"}}}}}}},"/sale/admin/shops/check-name":{"get":{"tags":["Admin Shops"],"operationId":"checkShopName","parameters":[{"name":"tenantId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"shopId","in":"query","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAdminShopNameCheckResponseDTO"}}}}}}}},"components":{"schemas":{"ShopTableUpdateDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"description":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"floor":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["AVAILABLE","RESERVED","OCCUPIED","OUT_OF_ORDER"]}}},"ApiResponseShopTableDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ShopTableDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"Meta":{"type":"object","properties":{"traceId":{"type":"string"},"path":{"type":"string"},"durationMs":{"type":"integer","format":"int64"},"version":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"Parameter":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"ShopTableDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"capacity":{"type":"integer","format":"int32"},"floor":{"type":"integer","format":"int32"},"status":{"type":"string","enum":["AVAILABLE","RESERVED","OCCUPIED","OUT_OF_ORDER"]},"shopId":{"type":"string","format":"uuid"},"shopName":{"type":"string"},"tenantId":{"type":"string","format":"uuid"}}},"TableOrderItemCreateDTO":{"type":"object","properties":{"menuItemId":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"},"notes":{"type":"string"},"selectedExtraOptionIds":{"type":"array","items":{"type":"string","format":"uuid"}}}},"TableOrderPaymentCreateDTO":{"type":"object","properties":{"method":{"type":"string","enum":["CASH"]},"amount":{"type":"number"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderPaymentItemCreateDTO"}}}},"TableOrderPaymentItemCreateDTO":{"type":"object","properties":{"tableOrderItemId":{"type":"string","format":"uuid"},"quantity":{"type":"integer","format":"int32"}}},"TableOrderUpdateDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"status":{"type":"string","enum":["OPEN","PAID","CANCELLED"]},"note":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderItemCreateDTO"}},"payments":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderPaymentCreateDTO"}}}},"ApiResponseTableOrderDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TableOrderDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"TableOrderDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"shopTableId":{"type":"string","format":"uuid"},"shopTableName":{"type":"string"},"shopId":{"type":"string","format":"uuid"},"shopName":{"type":"string"},"status":{"type":"string","enum":["OPEN","PAID","CANCELLED"]},"note":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderItemDTO"}},"payments":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderPaymentDTO"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"tenantId":{"type":"string","format":"uuid"}}},"TableOrderItemDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"menuItemId":{"type":"string","format":"uuid"},"menuItemName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"notes":{"type":"string"},"selectedExtraOptions":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderItemSelectedExtraOptionDTO"}}}},"TableOrderItemSelectedExtraOptionDTO":{"type":"object","properties":{"extraOptionId":{"type":"string","format":"uuid"},"name":{"type":"string"},"price":{"type":"number"}}},"TableOrderPaymentDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"method":{"type":"string","enum":["CASH"]},"amount":{"type":"number"},"paidAt":{"type":"string","format":"date-time"},"items":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderPaymentItemDTO"}}}},"TableOrderPaymentItemDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"menuItemId":{"type":"string","format":"uuid"},"menuItemName":{"type":"string"},"quantity":{"type":"integer","format":"int32"},"unitPrice":{"type":"number"},"notes":{"type":"string"},"selectedExtraOptions":{"type":"array","items":{"$ref":"#/components/schemas/TableOrderPaymentItemSelectedExtraOptionDTO"}}}},"TableOrderPaymentItemSelectedExtraOptionDTO":{"type":"object","properties":{"extraOptionId":{"type":"string","format":"uuid"},"name":{"type":"string"},"price":{"type":"number"}}},"ApiResponseShopDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ShopDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ShopDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"},"cuisineCategories":{"type":"array","items":{"type":"string","enum":["BURGER","DONER","PIZZA","PIDE_LAHMACUN","CIG_KOFTE","SOKAK_LEZZETLERI","KOFTE","SALATA_SAGLIK","TATLI","TAVUK","MANTI_MAKARNA","TANTUNI","EV_YEMEKLERI","TOST_SANDVIC","KEBAP","KAHVE_ICECEK","PASTANE_FIRIN","CORBA","DUNYA_MUTFAGI_CAFE","UZAK_DOGU","MEZE","BALIK_DENIZ_URUNLERI","BOREK","STEAK","KAHVALTI","DONDURMA"]},"uniqueItems":true},"workingHours":{"type":"array","items":{"$ref":"#/components/schemas/ShopWorkingHourDTO"}},"defaultMenuLanguage":{"type":"string","enum":["TR","EN"]},"tenantId":{"type":"string","format":"uuid"}}},"ShopWorkingHourDTO":{"type":"object","properties":{"dayOfWeek":{"type":"string","enum":["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY"]},"opensAt":{"type":"string"},"closesAt":{"type":"string"},"openAllDay":{"type":"boolean"}}},"ProductUpdateDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"typeId":{"type":"string","format":"uuid"},"metricId":{"type":"string","format":"uuid"},"preparationTime":{"type":"integer","format":"int32"},"isActive":{"type":"boolean"}}},"ApiResponseProductDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProductDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ProductDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"shopId":{"type":"string","format":"uuid"},"shopName":{"type":"string"},"typeId":{"type":"string","format":"uuid"},"typeName":{"type":"string"},"metricId":{"type":"string","format":"uuid"},"metricName":{"type":"string"},"preparationTime":{"type":"integer","format":"int32"},"tenantId":{"type":"string","format":"uuid"},"active":{"type":"boolean"}}},"ProductRecipeItemCreateDTO":{"type":"object","properties":{"stockResourceId":{"type":"string","format":"uuid"},"quantity":{"type":"number"},"unitType":{"type":"string","enum":["PIECE","GRAM","KILOGRAM","MILLILITER","LITER"]},"notes":{"type":"string"}}},"ProductRecipeUpdateDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"isDefault":{"type":"boolean"},"description":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ProductRecipeItemCreateDTO"}}}},"ApiResponseProductRecipeDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProductRecipeDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ProductRecipeDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ProductRecipeItemDTO"}},"tenantId":{"type":"string","format":"uuid"},"default":{"type":"boolean"}}},"ProductRecipeItemDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"stockResourceId":{"type":"string","format":"uuid"},"stockResourceName":{"type":"string"},"quantity":{"type":"number"},"unitType":{"type":"string","enum":["PIECE","GRAM","KILOGRAM","MILLILITER","LITER"]},"convertedQuantity":{"type":"number"},"baseUnitType":{"type":"string","enum":["PIECE","GRAM","KILOGRAM","MILLILITER","LITER"]},"notes":{"type":"string"}}},"ProductExtraOptionItemCreateDTO":{"type":"object","properties":{"stockResourceId":{"type":"string","format":"uuid"},"quantity":{"type":"number"},"unitType":{"type":"string","enum":["PIECE","GRAM","KILOGRAM","MILLILITER","LITER"]}}},"ProductExtraOptionUpdateDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"isActive":{"type":"boolean"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ProductExtraOptionItemCreateDTO"}}}},"ApiResponseProductExtraOptionDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/ProductExtraOptionDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ProductExtraOptionDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"productId":{"type":"string","format":"uuid"},"productName":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"price":{"type":"number"},"items":{"type":"array","items":{"$ref":"#/components/schemas/ProductExtraOptionItemDTO"}},"tenantId":{"type":"string","format":"uuid"},"active":{"type":"boolean"}}},"ProductExtraOptionItemDTO":{"type":"object","pro
[...]
