{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.zeerp.tech/"},{"url":"http://localhost:8080/"}],"tags":[{"name":"Permittables","description":"API for searching permittable objects (permission targets)"},{"name":"Permissions","description":"API for managing permissions"},{"name":"Usernames","description":"API for checking username availability"},{"name":"Users","description":"API for managing users"},{"name":"Admin Tenants","description":"API for managing tenant resources in admin panel"},{"name":"Permission Groups","description":"Permission group templates and tenant custom groups"}],"paths":{"/user/tenants/{id}":{"get":{"tags":["Admin Tenants"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneAdmin Tenant","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponseDTO"}}}}}},"put":{"tags":["Admin Tenants"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updateAdmin Tenant","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponseDTO"}}}}}},"delete":{"tags":["Admin Tenants"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deleteAdmin Tenant","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Admin Tenants"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchAdmin Tenant","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponseDTO"}}}}}}},"/user/permissions/{id}":{"get":{"tags":["Permissions"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOnePermission","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}},"put":{"tags":["Permissions"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"updatePermission","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}},"delete":{"tags":["Permissions"],"summary":"Delete: Delete a single entity","description":"Deletes a single entity by its unique identifier.\nImplements ra-spring-data-provider's delete operation.\n","operationId":"deletePermission","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to delete","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Permissions"],"summary":"Update: Update an existing entity","description":"Updates an existing entity with the provided field values.\nImplements ra-spring-data-provider's update operation with support for partial updates.\nOnly the fields provided in the request body will be updated.\n","operationId":"patchPermission","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to update","required":true,"schema":{"type":"integer","format":"int64"},"example":1}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for partial update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}}},"/user/permission-groups/{id}":{"get":{"tags":["Permission Groups"],"operationId":"getCustomGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupResponseDTO"}}}}}},"put":{"tags":["Permission Groups"],"operationId":"updateCustomGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionGroupUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupResponseDTO"}}}}}},"delete":{"tags":["Permission Groups"],"operationId":"deleteCustomGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}},"patch":{"tags":["Permission Groups"],"operationId":"patchCustomGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionGroupPatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupResponseDTO"}}}}}}},"/user/tenants":{"get":{"tags":["Admin Tenants"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListAdmin Tenants","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTenantResponseDTO"}}}}}},"post":{"tags":["Admin Tenants"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createAdmin Tenant","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantCreateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantResponseDTO"}}}}}},"delete":{"tags":["Admin Tenants"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyAdmin Tenants","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}},"patch":{"tags":["Admin Tenants"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyAdmin Tenants","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUUID"}}}}}}},"/user/tenants/{id}/image":{"get":{"tags":["Admin Tenants"],"operationId":"getTenantImage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"binary"}}}}}},"post":{"tags":["Admin Tenants"],"operationId":"uploadTenantImage","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantImageUploadResponseDTO"}}}}}}},"/user/permissions":{"get":{"tags":["Permissions"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListPermissions","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionResponse"}}}}}},"post":{"tags":["Permissions"],"summary":"Create: Create a new entity","description":"Creates a new entity with the provided data.\nImplements ra-spring-data-provider's create operation.\nReturns the created entity with generated ID and server-side defaults.\n","operationId":"createPermission","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionCreateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionResponse"}}}}}},"delete":{"tags":["Permissions"],"summary":"DeleteMany: Delete multiple entities","description":"Deletes multiple entities in a single operation.\nImplements ra-spring-data-provider's deleteMany operation for bulk deletions.\nReturns a list of deleted entity IDs.\n","operationId":"deleteManyPermissions","parameters":[{"name":"id","in":"query","description":"List of entity IDs to delete","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":[1,2,3]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListLong"}}}}}},"patch":{"tags":["Permissions"],"summary":"UpdateMany: Update multiple entities","description":"Updates multiple entities with the same field values in a single operation.\nImplements ra-spring-data-provider's updateMany operation for bulk updates.\nReturns a list of updated entity IDs.\n","operationId":"patchManyPermissions","parameters":[{"name":"id","in":"query","description":"List of entity IDs to update","required":false,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":[1,2,3]}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{},"description":"Map of field names to new values for bulk update"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListLong"}}}}}}},"/user/permission-groups":{"get":{"tags":["Permission Groups"],"operationId":"getCustomGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionGroupResponseDTO"}}}}}},"post":{"tags":["Permission Groups"],"operationId":"createCustomGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionGroupCreateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupResponseDTO"}}}}}}},"/user/permission-groups/assign":{"post":{"tags":["Permission Groups"],"operationId":"assignGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionGroupAssignRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupAssignResponseDTO"}}}}}}},"/user":{"get":{"tags":["Users"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListUsers","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserResponseDTO"}}}}}}},"/user/{id}":{"get":{"tags":["Users"],"summary":"GetOne: Get single entity by ID","description":"Retrieves a single entity by its unique identifier.\nImplements ra-spring-data-provider's getOne operation.\n","operationId":"getOneUser","parameters":[{"name":"id","in":"path","description":"Unique identifier of the entity to retrieve","required":true,"schema":{"type":"string","format":"uuid"},"example":1}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDTO"}}}}}}},"/user/usernames/check":{"get":{"tags":["Usernames"],"operationId":"checkUsername","parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string","minLength":1,"pattern":"^[a-zA-Z0-9._-]{3,255}$"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUsernameCheckResponseDTO"}}}}}}},"/user/tenants/many":{"get":{"tags":["Admin Tenants"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyAdmin Tenants","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListTenantResponseDTO"}}}}}}},"/user/tenants/check-name":{"get":{"tags":["Admin Tenants"],"operationId":"checkTenantName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTenantNameCheckResponseDTO"}}}}}}},"/user/permittables":{"get":{"tags":["Permittables"],"summary":"GetList: Get paginated list of entities with filtering","description":"Retrieves a paginated list of entities with support for sorting and filtering.\nImplements ra-spring-data-provider's getList operation.\n\nThis method returns a subset of entities based on the pagination parameters (_start and _end).\nThe results can be sorted by any field in ascending or descending order. Custom filters can be\napplied through additional query parameters passed in allParams.\n\nThe response includes an X-Total-Count header containing the total number of entities\nmatching the filter criteria (not just the current page). This header is essential\nfor ra-spring-data-provider to calculate pagination correctly.\n\nExample: GET /api/posts?_start=0&_end=10&_sort=title&_order=ASC&status=published\n","operationId":"getListPermittables","parameters":[{"name":"_start","in":"query","description":"Starting index for pagination (0-based, inclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":0},{"name":"_end","in":"query","description":"Ending index for pagination (0-based, exclusive)","required":true,"schema":{"type":"integer","format":"int32"},"example":10},{"name":"_sort","in":"query","description":"Field name to sort by","required":false,"schema":{"type":"string","default":"id"},"example":"id"},{"name":"_order","in":"query","description":"Sort direction (ASC or DESC)","required":false,"schema":{"type":"string","default":"ASC"},"example":"ASC"},{"name":"_embed","in":"query","description":"Optional parameter to embed related resources (implementation-specific)","required":false,"schema":{"type":"string"}},{"name":"allParams","in":"query","description":"Additional query parameters for filtering by entity fields","required":true,"schema":{"type":"object","additionalProperties":{"type":"string"}}}],"responses":{"200":{"description":"OK","headers":{"X-Total-Count":{"description":"Total number of entities matching the filter","schema":{"type":"integer","format":"int32"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermittableResponseDTO"}}}}}}},"/user/permissions/many":{"get":{"tags":["Permissions"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyPermissions","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionResponse"}}}}}}},"/user/permissions/actions":{"get":{"tags":["Permissions"],"operationId":"getAllPermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapPermissionActionListPermissionTargetType"}}}}}}},"/user/permissions/actions-assignable":{"get":{"tags":["Permissions"],"operationId":"getAllAssignablePermissions","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseMapPermissionActionListPermissionTargetType"}}}}}}},"/user/permission-groups/predefined":{"get":{"tags":["Permission Groups"],"operationId":"getPredefinedGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionGroupResponseDTO"}}}}}}},"/user/permission-groups/predefined/{code}":{"get":{"tags":["Permission Groups"],"operationId":"getPredefinedGroup","parameters":[{"name":"code","in":"path","required":true,"schema":{"type":"string","enum":["CASHIER","WAITER","STOCK_MANAGER","CATALOG_MANAGER","TENANT_SUPERVISOR"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupResponseDTO"}}}}}}},"/user/permission-groups/assignments":{"get":{"tags":["Permission Groups"],"operationId":"listAssignmentsByUser","parameters":[{"name":"userId","in":"query","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListPermissionGroupAssignmentResponseDTO"}}}}}}},"/user/me":{"get":{"tags":["Users"],"summary":"Get currently authenticated user profile","operationId":"getCurrentUser","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponseDTO"}}}}}}},"/user/many":{"get":{"tags":["Users"],"summary":"GetMany: Get multiple entities by IDs","description":"Retrieves multiple specific entities by their unique identifiers.\nImplements ra-spring-data-provider's getMany operation.\n\nUnlike getList, this operation does not use pagination. It simply returns all entities\nwith the specified IDs. This is commonly used when the client needs to fetch multiple\nspecific records, such as when displaying relationships or selected items.\n\nIf an ID doesn't exist, it is typically omitted from the response rather than returning an error.\nThe order of returned entities may not match the order of requested IDs.\n\nExample: GET /api/posts/many?id=1&id=5&id=12\n","operationId":"getManyUsers","parameters":[{"name":"id","in":"query","description":"List of entity IDs to retrieve","required":true,"schema":{"type":"array","items":{"type":"string","format":"uuid"}},"example":[1,5,12]}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserResponseDTO"}}}}}}},"/user/permission-groups/assignments/{assignmentId}":{"delete":{"tags":["Permission Groups"],"operationId":"revokeAssignment","parameters":[{"name":"assignmentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponsePermissionGroupAssignmentRevokeResponseDTO"}}}}}}}},"components":{"schemas":{"TenantUpdateRequestDTO":{"type":"object","description":"Map of field names to new values for update","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"}}},"ApiResponseTenantResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"Meta":{"type":"object","properties":{"traceId":{"type":"string"},"path":{"type":"string"},"durationMs":{"type":"integer","format":"int64"},"version":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"Parameter":{"type":"object","properties":{"key":{"type":"string"},"value":{"type":"string"}}},"TenantResponseDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"}}},"PermissionUpdateRequest":{"type":"object","description":"Map of field names to new values for update","properties":{"userId":{"type":"string","format":"uuid"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"},"action":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]}}},"ApiResponsePermissionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PermissionResponse"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"userId":{"type":"string","format":"uuid"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"},"action":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]}}},"PermissionGroupUpdateRequestDTO":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"scopeType":{"type":"string","enum":["TENANT","SHOP"]},"actions":{"type":"array","items":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]},"minItems":1,"uniqueItems":true}},"required":["actions","name","scopeType"]},"ApiResponsePermissionGroupResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PermissionGroupResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionGroupResponseDTO":{"type":"object","properties":{"source":{"type":"string"},"id":{"type":"string","format":"uuid"},"code":{"type":"string","enum":["CASHIER","WAITER","STOCK_MANAGER","CATALOG_MANAGER","TENANT_SUPERVISOR"]},"name":{"type":"string"},"description":{"type":"string"},"scopeType":{"type":"string","enum":["TENANT","SHOP"]},"actions":{"type":"array","items":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"TenantCreateRequestDTO":{"type":"object","description":"Entity data to create","properties":{"name":{"type":"string"},"description":{"type":"string"},"imageId":{"type":"string"},"address":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"postalCode":{"type":"string"},"phone":{"type":"string"},"email":{"type":"string"},"website":{"type":"string"}}},"ApiResponseTenantImageUploadResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantImageUploadResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"TenantImageUploadResponseDTO":{"type":"object","properties":{"imageId":{"type":"string"},"contentType":{"type":"string"},"originalFileName":{"type":"string"}}},"PermissionCreateRequestDTO":{"type":"object","description":"Entity data to create","properties":{"userId":{"type":"string","format":"uuid"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"},"action":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]}}},"PermissionGroupCreateRequestDTO":{"type":"object","properties":{"name":{"type":"string","minLength":1},"description":{"type":"string"},"scopeType":{"type":"string","enum":["TENANT","SHOP"]},"actions":{"type":"array","items":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]},"minItems":1,"uniqueItems":true}},"required":["actions","name","scopeType"]},"PermissionGroupAssignRequestDTO":{"type":"object","properties":{"userId":{"type":"string","format":"uuid"},"groupId":{"type":"string","format":"uuid"},"predefinedCode":{"type":"string","enum":["CASHIER","WAITER","STOCK_MANAGER","CATALOG_MANAGER","TENANT_SUPERVISOR"]},"scopeTargetId":{"type":"string","format":"uuid"}}},"ApiResponsePermissionGroupAssignResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PermissionGroupAssignResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionGroupAssignResponseDTO":{"type":"object","properties":{"requestedCount":{"type":"integer","format":"int32"},"createdCount":{"type":"integer","format":"int32"},"skippedCount":{"type":"integer","format":"int32"},"scopeType":{"type":"string","enum":["TENANT","SHOP"]},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"}}},"ApiResponseListUUID":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"string","format":"uuid"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListLong":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"type":"integer","format":"int64"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionGroupPatchRequestDTO":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"scopeType":{"type":"string","enum":["TENANT","SHOP"]},"actions":{"type":"array","items":{"type":"string","enum":["CREATE_EMPLOYEE_ANY_TENANT","ADMIN","UPDATE_TENANT","READ_TENANT","CREATE_EMPLOYEE","CREATE_TICKET","CREATE_TEAM","ADMIN_SHOP","UPDATE_SHOP","DELETE_SHOP","READ_SHOP","CREATE_STOCK_RESOURCE","CREATE_PRODUCT","CREATE_MENU","CREATE_SHOP_TABLE","CREATE_STOCK_COUNT","READ_USER","READ_PERMISSION","ADMIN_STOCK_RESOURCE","UPDATE_STOCK_RESOURCE","DELETE_STOCK_RESOURCE","READ_STOCK_RESOURCE","CREATE_STOCK_MOVEMENT","CREATE_STOCK_ENTRY","CREATE_STOCK_ADJUSTMENT","CREATE_STOCK_WASTE","CREATE_STOCK_RETURN","READ_EMPLOYEE","UPDATE_EMPLOYEE","DELETE_EMPLOYEE","READ_TEAM","UPDATE_TEAM","DELETE_TEAM","CREATE_TEAM_MEMBER","READ_TEAM_MEMBER","UPDATE_TEAM_MEMBER","DELETE_TEAM_MEMBER","READ_TICKET","UPDATE_TICKET","DELETE_TICKET","CREATE_TICKET_COMMENT","CREATE_TICKET_ASSIGNMENT","CREATE_TICKET_ATTACHMENT","CREATE_TICKET_WATCHER","READ_TICKET_HISTORY","READ_TICKET_COMMENT","UPDATE_TICKET_COMMENT","DELETE_TICKET_COMMENT","READ_TICKET_ASSIGNMENT","UPDATE_TICKET_ASSIGNMENT","DELETE_TICKET_ASSIGNMENT","READ_TICKET_ATTACHMENT","UPDATE_TICKET_ATTACHMENT","DELETE_TICKET_ATTACHMENT","READ_TICKET_SLA_TRACKING","READ_TICKET_WATCHER","UPDATE_TICKET_WATCHER","DELETE_TICKET_WATCHER","READ_STOCK_MOVEMENT","UPDATE_STOCK_MOVEMENT","DELETE_STOCK_MOVEMENT","ADMIN_STOCK_COUNT","APPROVE_STOCK_COUNT","UPDATE_STOCK_COUNT","DELETE_STOCK_COUNT","READ_STOCK_COUNT","ADMIN_PRODUCT","UPDATE_PRODUCT","DELETE_PRODUCT","READ_PRODUCT","CREATE_PRODUCT_RECIPE","CREATE_PRODUCT_EXTRA_OPTION","ADMIN_PRODUCT_RECIPE","UPDATE_PRODUCT_RECIPE","DELETE_PRODUCT_RECIPE","READ_PRODUCT_RECIPE","ADMIN_PRODUCT_EXTRA_OPTION","UPDATE_PRODUCT_EXTRA_OPTION","DELETE_PRODUCT_EXTRA_OPTION","READ_PRODUCT_EXTRA_OPTION","ADMIN_MENU","UPDATE_MENU","DELETE_MENU","READ_MENU","CREATE_MENU_CATEGORY","ADMIN_MENU_CATEGORY","UPDATE_MENU_CATEGORY","DELETE_MENU_CATEGORY","READ_MENU_CATEGORY","CREATE_MENU_ITEM","ADMIN_MENU_ITEM","UPDATE_MENU_ITEM","DELETE_MENU_ITEM","READ_MENU_ITEM","ADMIN_SHOP_TABLE","UPDATE_SHOP_TABLE","DELETE_SHOP_TABLE","READ_SHOP_TABLE","CREATE_TABLE_ORDER","ADMIN_TABLE_ORDER","UPDATE_TABLE_ORDER","DELETE_TABLE_ORDER","READ_TABLE_ORDER"]},"uniqueItems":true}}},"ApiResponseListUserResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserResponseDTO"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"UserResponseDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"username":{"type":"string"},"email":{"type":"string"}}},"ApiResponseUserResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseUsernameCheckResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UsernameCheckResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"UsernameCheckResponseDTO":{"type":"object","properties":{"username":{"type":"string"},"available":{"type":"boolean"}}},"ApiResponseListTenantResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TenantResponseDTO"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseTenantNameCheckResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TenantNameCheckResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"TenantNameCheckResponseDTO":{"type":"object","properties":{"name":{"type":"string"},"available":{"type":"boolean"}}},"ApiResponseListPermittableResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PermittableResponseDTO"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermittableResponseDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"title":{"type":"string"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]}}},"ApiResponseListPermissionResponse":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PermissionResponse"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseMapPermissionActionListPermissionTargetType":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]}}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListPermissionGroupResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PermissionGroupResponseDTO"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponseListPermissionGroupAssignmentResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/PermissionGroupAssignmentResponseDTO"}},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionGroupAssignmentResponseDTO":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"groupId":{"type":"string","format":"uuid"},"groupName":{"type":"string"},"groupSource":{"type":"string"},"groupCode":{"type":"string","enum":["CASHIER","WAITER","STOCK_MANAGER","CATALOG_MANAGER","TENANT_SUPERVISOR"]},"groupScopeType":{"type":"string","enum":["TENANT","SHOP"]},"userId":{"type":"string","format":"uuid"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"},"assignedAt":{"type":"string","format":"date-time"}}},"ApiResponseVoid":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"ApiResponsePermissionGroupAssignmentRevokeResponseDTO":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer","format":"int32"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/PermissionGroupAssignmentRevokeResponseDTO"},"meta":{"$ref":"#/components/schemas/Meta"},"parameters":{"type":"array","items":{"$ref":"#/components/schemas/Parameter"}}}},"PermissionGroupAssignmentRevokeResponseDTO":{"type":"object","properties":{"assignmentId":{"type":"string","format":"uuid"},"groupId":{"type":"string","format":"uuid"},"userId":{"type":"string","format":"uuid"},"targetType":{"type":"string","enum":["TENANT_ROOT","TENANT","USER","EMPLOYEE","TICKET","TICKET_HISTORY","TICKET_COMMENT","TICKET_ASSIGNMENT","TICKET_ATTACHMENT","TICKET_SLA_TRACKING","TICKET_WATCHER","TEAM","TEAM_MEMBER","SHOP","STOCK_COUNT","STOCK_RESOURCE","STOCK_MOVEMENT","PRODUCT","PRODUCT_RECIPE","PRODUCT_EXTRA_OPTION","MENU","MENU_CATEGORY","MENU_ITEM","SHOP_TABLE","TABLE_ORDER"]},"targetId":{"type":"string","format":"uuid"},"requestedCount":{"type":"integer","format":"int32"},"removedLinkCount":{"type":"integer","format":"int32"},"deletedPermissionCount":{"type":"integer","format":"int32"},"retainedPermissionCount":{"type":"integer","format":"int32"},"missingPermissionCount":{"type":"integer","format":"int32"},"warnings":{"type":"array","items":{"type":"string"}}}}}}}